body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f3f3f3;
}

h2 {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 2px solid #333;
    margin: 20px 0;
}

th, td {
    border: 1px solid #333;
    padding: 4px;
    text-align: center;
    font-size: 14px;
}

thead th {
    background-color: #d3e5b2;
    font-weight: bold;
    font-size: 14px;
}

.teacher-header {
    background-color: #d3e5b2;
    font-weight: bold;
    font-size: 14px;
}

.group-header {
    background-color: #d3e5b2;
    font-weight: bold;
    font-size: 14px;
}

.auditorium-header {
    background-color: #d3e5b2;
    font-weight: bold;
}

.aud {
    width: 50px;
    font-weight: bold;
}

.small-cell {
    width: 40px;
    font-size: 14px;
}

.week-cell {
    font-size: 14px;
}

.day-cell {
    background-color: #b0c4de;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: 50px;
    font-size: 14px;
}
