ul {
    list-style: none; 
    padding-left: 0; 
}

ul li {
    margin-bottom: 10px; 
    font-size: 18px;
}

ul ul li {
    margin-left: 20px; 
}


.winter:before {
    content: "❄️"; 
    margin-right: 10px;
}

.spring:before {
    content: "🍃"; 
    margin-right: 10px;
}

.summer:before {
    content: "☀️"; 
    margin-right: 10px;
}

.autumn:before {
    content: "🍂"; 
    margin-right: 10px;
}
