body {
    font-family: Arial, sans-serif;
}

pre {
    background-color: #f3f3f3;
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    white-space: pre-wrap;
}

p {
    font-weight: bold;
}
