.table {
    width: 500px;
    border-collapse: collapse; /* Забезпечує безперервну рамку між комірками */
    border: 2px solid #6395ff; /* Синя рамка навколо всієї таблиці */
}

.table td, .table th {
    border: 1px solid #6395ff; /* Синя рамка для кожної комірки */
    padding: 5px 10px;
    box-sizing: border-box;
}

.table thead {
    background-color: #dae1f8;
}

.table tfoot {
    background-color: #5776b1;
    color: #fff;
    text-align: right;
}
